/**
* Include bourbon.io framework.
*/
/**
* Include custom fonts.
*/
@import url(fonts/tiza/stylesheet.css);
@import url(fonts/momt/stylesheet.css);
@import url(fonts/321impact/stylesheet.css);
@import url(fonts/dead_kansas/stylesheet.css);
/**
* Scss font variables.
*/
/**
* Scss color variables.
*/
/**
* Custom styles.
*/
html body {
  background: #719539; }
  html body #page {
    position: relative; }
    html body #page #masthead {
      left: -300px;
      padding: 0 30px 0 0;
      position: absolute;
      z-index: 2;
      width: 300px; }
      html body #page #masthead .site-branding {
        background: url(images/logo.jpg) center center no-repeat;
        background-size: 100% auto;
        height: 300px;
        overflow: hidden;
        text-indent: -999%; }
      html body #page #masthead .main-navigation {
        font-weight: bold; }
        html body #page #masthead .main-navigation .menu-item {
          float: none; }
          html body #page #masthead .main-navigation .menu-item a {
            color: #fff;
            font-size: 18px; }
    html body #page #content {
      background: #cdb696 url(images/background.jpg); }
      html body #page #content .header {
        height: 115px;
        overflow: hidden;
        position: relative; }
        html body #page #content .header .chat {
          background: url(images/chat-now.png) center center no-repeat;
          color: #fff;
          cursor: pointer;
          height: 50px;
          margin: 0 auto;
          width: 255px; }
        html body #page #content .header .logo {
          position: absolute;
          top: 22px;
          right: 36px; }
      html body #page #content .banner-2 {
        height: 270px; }
        html body #page #content .banner-2 .reasons {
          padding: 14px 0 0 137px; }
        html body #page #content .banner-2 .guarantees .guarantee {
          float: left; }
      html body #page #content .banner-3 {
        margin: 0 0 24px; }
        html body #page #content .banner-3 .image {
          height: 160px; }
          html body #page #content .banner-3 .image img {
            margin: -218px 0 0 -110px;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 9; }
        html body #page #content .banner-3 .tripadvisor {
          height: inherit; }
      html body #page #content #primary .offer {
        padding: 0 12px;
        margin: 0 0 12px; }
        html body #page #content #primary .offer .image {
          background: url(images/monkeys.png) left bottom repeat-x;
          padding: 0 0 54px;
          position: relative;
          width: 738px; }
          html body #page #content #primary .offer .image .meta {
            bottom: 54px;
            position: absolute;
            right: 10px;
            width: 100px; }
            html body #page #content #primary .offer .image .meta .qrcode {
              height: 100px;
              width: 100%; }
              html body #page #content #primary .offer .image .meta .qrcode a {
                display: none !important; }
              html body #page #content #primary .offer .image .meta .qrcode img {
                width: 100%; }
            html body #page #content #primary .offer .image .meta .notes {
              height: 60px; }
              html body #page #content #primary .offer .image .meta .notes .note {
                width: 33.33%; }
        html body #page #content #primary .offer .coupon {
          background: #c10c00;
          padding: 10px;
          height: inherit;
          width: 362px; }
          html body #page #content #primary .offer .coupon .tripadvisor {
            color: #fff; }
          html body #page #content #primary .offer .coupon .inner {
            background: #322a1f; }
            html body #page #content #primary .offer .coupon .inner .title {
              color: #fec900;
              font-family: "momstypewriterregular", serif;
              padding: 12px 12px 0; }
            html body #page #content #primary .offer .coupon .inner .title-2 {
              color: #fff;
              font-family: "momstypewriterregular", serif;
              padding: 0 12px 12px; }
            html body #page #content #primary .offer .coupon .inner .text {
              color: #fff;
              font-size: 12px;
              padding: 0 12px 12px; }
            html body #page #content #primary .offer .coupon .inner .buttons {
              padding: 0 24px; }
              html body #page #content #primary .offer .coupon .inner .buttons .button {
                border-radius: 2px;
                font-family: "momstypewriterregular", serif;
                font-size: 18px;
                padding: 6px;
                width: 48%; }
              html body #page #content #primary .offer .coupon .inner .buttons .details {
                background: #78b800;
                color: #fff;
                float: left; }
              html body #page #content #primary .offer .coupon .inner .buttons .bookit {
                background: #d95843;
                color: #fff;
                float: right; }
            html body #page #content #primary .offer .coupon .inner .ticket {
              background: url(images/ticket.png) center center no-repeat;
              height: 124px;
              padding: 0 12px 12px; }
    html body #page #colophon {
      background: #cdb696 url(images/background.jpg); }
      html body #page #colophon .site-info {
        background: rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.72);
        color: #fff;
        font-size: 11px;
        margin: 12px;
        padding: 12px; }

/**
* Small screen size styles.
*/
@media only screen and (max-width: 40em) {
  html body #content .header .logo {
    position: static;
    top: auto;
    right: auto; } }

/*# sourceMappingURL=custom.css.map */
