$color_background: #719539;
$color_green: #78b800;

html {
  body {
    background: $color_background;

    #page {
      #masthead {
        .site-branding {
          background: url(images/logo.jpg) center center no-repeat;
          background-size: 100% auto;
          height: 250px; // todo: Change this to non fixed height.
          overflow: hidden;
          text-indent: -999%;
        }

        .main-navigation {
          .menu-item {
            float: none;

            a {
              color: #fff;
            }
          }
        }
      }

      #content {
        background: #cdb696;

        .header {
          background: #333;
          height: 117px;

          .chat {
            background: $color_green;
            color: #fff;
            height: 20px;
          }

          .logo {
            background: #fff;
            height: 117px;
          }
        }

        .banner {
          background: #265d58;
          height: 675px;
        }

        .banner-2 {
          background: #bf433b;
          height: 270px;
          margin: 0 0 24px;
        }

        .banner-3 {
          background: #bf433b;
          height: 160px;
          margin: 0 0 24px;

          .image {
            background: blue;
            height: inherit;
          }

          .tripadvisor {
            background: #fff;
            height: inherit;
          }
        }

        #primary {
          .offer {
            background: #2f3032;
            height: 300px;
            margin: 0 0 45px;

            .image {
              background: red;
              height: inherit;
            }

            .coupon {
              background: blue;
              height: inherit;

              .tripadvisor {
                background: #111;
                height: 60px;
              }

              .inner {
                background: #222;
                height: 240px;

                .title {
                  background: #333;
                  height: 40px;
                }

                .title-2 {
                  background: #444;
                  height: 40px;
                }

                .buttons {
                  background: #555;
                  height: 100px;

                  .details {
                    background: red;
                    height: inherit;
                  }

                  .bookit {
                    background: blue;
                    height: inherit;
                  }
                }

                .ticket {
                  background: #666;
                  height: 60px;
                }
              }
            }
          }
        }
      }

      #colophon {
        background: #cdb696;

        .pickup {
          background: green;
          height: 220px;
        }

        .site-info {
          background: #d0b999;
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }
}