@media all and (max-width: 1230px) {
  html {
    body {
      #page {
        background: url(images/page_bg.jpg) center top repeat-y;
        overflow: hidden;

        #masthead {
          display: none;
        }

        #content {
          .header {
            height: auto;

            .main-navigation {
              .menu-toggle {
                background: transparent;
                border: 0;
                box-shadow: none;
                display: block;
                float: left;
                font-family: $font_icomoon;
                height: 40px;
                margin: 10px 0 0 10px;
                outline: none;
                padding: 0;
                text-shadow: none;
                width: 40px;
              }

              .menu-toggle:before {
                color: #78b800;
                content: "\e9bd";
                display: block;
                font-size: 42px;
                text-align: center;
              }

              .menu-toggle-2 {
                background: url(images/image-11.png);
                cursor: pointer;
                display: block;
                height: 40px;
                position: absolute;
                right: 10px;
                top: 10px;
                width: 40px;
              }

              .menu-block {
                left: auto;
                padding: 0;
                position: static;
                width: 100%;

                .site-branding {
                  display: none;
                  height: 300px;
                  padding: 0;
                  width: 300px;
                }

                .menu-menu-1-container {
                  display: none;
                }

                .menu-menu-2-container {
                  display: none;
                }

                .menu {
                  display: block;
                  margin: 0 auto;
                  padding: 0 45px;
                  width: 300px;
                }
              }
            }

            .logo {
              padding: 12px;
              position: static;
              top: auto;
              right: auto;
              text-align: center;

              img {
                display: block;
                margin: 0 auto;
              }
            }
          }

          .banner-2 {
            height: auto;

            .reasons {
              float: none;
              padding: 12px 12px;
              text-align: center;
            }

            .guarantees {
              float: none;
              padding: 12px 12px;
              text-align: center;
              margin: 0 auto;
              max-width: 480px;

              .guarantee {
                @include inline-block;
                float: none;
                width: 28%;
              }
            }
          }

          .banner-3 {
            .image {
              float: none;
              height: auto;
              margin: 70px 0 36px;
              max-width: 100%;

              > img {
                margin: -40px 0 0;
                width: 122px;
              }

              .inner {
                padding: 20px 20px 20px 130px;

                img {
                  height: 100%;
                }
              }
            }

            .tripadvisor {
              margin: 0 0 36px;
            }
          }

          #primary {
            .offer {
              background: url(images/monkeys.png) center bottom repeat-x;
              margin: 0 0 16px;
              padding: 0 12px 60px;

              .image {
                float: none;
                margin: 0;
                padding: 0;
                width: 100%;

                .meta {
                  display: none;
                }
              }

              .coupon {
                float: none;
                margin: 0 auto;
                width: 100%;
              }
            }
          }
        }

        #colophon {
          padding: 0 12px;

          .pickup {
            background: #78b800;
            height: auto;
            width: 100%;

            .image {
              width: 100%;

              img {
                margin: 0;
                position: static;
                width: 100%;
              }
            }

            .texts {
              float: none;
              width: 100%;

              .text-1 {
                line-height: normal;
                padding: 0;
                text-align: center;
              }

              .text-2 {
                line-height: normal;
                padding: 0 0 12px;
              }
            }
          }

          .site-info {
            margin: 12px 0;
          }
        }
      }

      /*
      body.toggle
      Left side menu is toggled
      */

      &.toggled {
        background-image: none;

        #page {
          #masthead {
            display: none;
          }

          #content {
            .header {
              background: $color_background;

              .main-navigation {
                .menu-block {
                  .site-branding {
                    display: block;
                  }

                  .menu-menu-1-container {
                    display: block;
                  }

                  .menu-menu-2-container {
                    display: none;
                  }
                }
              }
            }

            .banner {
              display: none;
            }

            .banner-2 {
              display: none;
            }

            .banner-3 {
              display: none;
            }

            #primary {
              display: none;
            }
          }

          #colophon {
            display: none;
          }
        }
      }

      /*
      body.toggled-2
      Right side menu is toggled
      */

      &.toggled-2 {
        background-image: none;

        #page {
          #masthead {
            display: none;
          }

          #content {
            .header {
              background: $color_background;

              .main-navigation {
                .menu-block {
                  .site-branding {
                    display: block;
                  }

                  .menu-menu-1-container {
                    display: none;
                  }

                  .menu-menu-2-container {
                    display: block;
                  }
                }
              }
            }

            .banner {
              display: none;
            }

            .banner-2 {
              display: none;
            }

            .banner-3 {
              display: none;
            }

            #primary {
              display: none;
            }
          }

          #colophon {
            display: none;
          }
        }
      }
    }
  }
}