/**
* Include bourbon.io framework.
*/

@import "bourbon/bourbon";

/**
* Include custom fonts.
*/

@import 'fonts/tiza/stylesheet.css';
@import 'fonts/momt/stylesheet.css';
@import 'fonts/321impact/stylesheet.css';
@import 'fonts/dead_kansas/stylesheet.css';

/**
* Scss font variables.
*/

$font_tiza: 'tizaregular', serif;
$font_momt: 'momstypewriterregular', serif;
$font_321impact: '321impactregular', arial, sans-serif;
$font_dead_kansas: 'dead_kansasregular', arial, sans-serif;

/**
* Scss color variables.
*/

$color_background: #719539;
$color_green: #78b800;

/**
* Custom styles.
*/

html {
  body {
    background: $color_background;

    #page {
      position: relative;

      #masthead {
        left: -300px;
        padding: 0 30px 0 0;
        position: absolute;
        z-index: 2;
        width: 300px;

        .site-branding {
          background: url(images/logo.jpg) center center no-repeat;
          background-size: 100% auto;
          height: 300px;
          overflow: hidden;
          text-indent: -999%;
        }

        .main-navigation {
          font-weight: bold;

          .menu-item {
            float: none;

            a {
              color: #fff;
              font-size: 18px;
            }
          }
        }
      }

      #content {
        background: #cdb696 url(images/background.jpg);

        .header {
          height: 115px;
          overflow: hidden;
          position: relative;

          .chat {
            background: url(images/chat-now.png) center center no-repeat;
            color: #fff;
            cursor: pointer;
            height: 50px;
            margin: 0 auto;
            width: 255px;
          }

          .logo {
            position: absolute;
            top: 22px;
            right: 36px;
          }
        }

        .banner {
        }

        .banner-2 {
          height: 270px;

          .reasons {
            padding: 14px 0 0 137px;
          }

          .guarantees {
            .guarantee {
              float: left;
            }
          }
        }

        .banner-3 {
          margin: 0 0 24px;

          .image {
            height: 160px;

            img {
              margin: -218px 0 0 -110px;
              left: 0;
              position: absolute;
              top: 0;
              z-index: 9;
            }
          }

          .tripadvisor {
            height: inherit;
          }
        }

        #primary {
          .offer {
            margin: 0 0 45px;

            .image {
              height: inherit;
            }

            .coupon {
              background: #c10c00;
              padding: 10px;
              height: inherit;
              width: 362px;

              .tripadvisor {
                color: #fff;
              }

              .inner {
                background: #322a1f;

                .title {
                  color: #fec900;
                  font-family: $font_momt;
                  padding: 12px 12px 0;
                }

                .title-2 {
                  color: #fff;
                  font-family: $font_momt;
                  padding: 0 12px 12px;
                }

                .text {
                  color: #fff;
                  font-size: 12px;
                  padding: 0 12px 12px;
                }

                .buttons {
                  padding: 0 24px;

                  .button {
                    border-radius: 2px;
                    font-family: $font_momt;
                    font-size: 18px;
                    padding: 6px;
                    width: 48%;
                  }

                  .details {
                    background: #78b800;
                    color: #fff;
                    float: left;
                  }

                  .bookit {
                    background: #d95843;
                    color: #fff;
                    float: right;
                  }
                }

                .ticket {
                  background: url(images/ticket.png) center center no-repeat;
                  height: 124px;
                  padding: 0 12px 12px;
                }
              }
            }
          }
        }
      }

      #colophon {
        background: #cdb696 url(images/background.jpg);

        .pickup {
        }

        .site-info {
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }
}

/**
* Small screen size styles.
*/

@media only screen and (max-width: 40em){
  html {
    body {
      #content {
        .header {
          .logo {
            position: static;
            top: auto;
            right: auto;
          }
        }
      }
    }
  }
}