$color_background: #719539;
$color_green: #78b800;

html {
  body {
    background: $color_background;

    #page {
      #masthead {
        .site-branding {
          background: url(images/logo.jpg) center center no-repeat;
          background-size: 100% auto;
          height: 250px; // todo: Change this to non fixed height.
          overflow: hidden;
          text-indent: -999%;
        }

        .main-navigation {
          .menu-item {
            float: none;

            a {
              color: #fff;
            }
          }
        }
      }

      #content {
        background: #cdb696 url(images/background.jpg);

        .header {
          .chat {
            background: $color_green;
            color: #fff;
            height: 20px;
          }

          .logo {
          }
        }

        .banner {
        }

        .banner-2 {
          margin: 0 0 24px;
        }

        .banner-3 {
          margin: 0 0 24px;

          .image {
            height: inherit;
          }

          .tripadvisor {
            height: inherit;
          }
        }

        #primary {
          .offer {
            margin: 0 0 45px;

            .image {
              height: inherit;
            }

            .coupon {
              background: #c10c00;
              padding: 10px;
              height: inherit;

              .tripadvisor {
                color: #fff;
              }

              .inner {
                background: #31291f;

                .title {
                  color: #fec900;
                  height: 40px;
                }

                .title-2 {
                  color: #fff;
                }

                .buttons {
                  background: #555;

                  .details {
                    background: #78b800;
                    color: #fff;
                    height: inherit;
                  }

                  .bookit {
                    background: #d95843;
                    color: #fff;
                    height: inherit;
                  }
                }

                .ticket {
                  background: #d7c47c;
                  min-height: 60px;
                }
              }
            }
          }
        }
      }

      #colophon {
        background: #cdb696 url(images/background.jpg);

        .pickup {
        }

        .site-info {
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }
}